body {
	background-image: url(../images/Chicago-Bulls.jpg);
	 background-size: cover;
	  background-repeat: no-repeat;
}

 {
	font-size: 400px;
}


.panel-default {
	max-width:500px;
	margin-left:auto;
	margin-right:auto; 
	margin-top: 150px;
}

.panel-heading {
background-color: black;
 color: red;
}

.container {font-family: 'Fjalla One', sans-serif;	font-size: 20px; 
}

label {
	font-size: 13px;
}